@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
.App {
  font-family: sans-serif;
  text-align: center;
}

:root {
  --primary-color: rgb(0, 255, 255);
  --secondary-color: pink;
}

body {
  font-family: "Secular One", sans-serif;
}

h1 {
  color: var(--primary-color);
}

h2 {
  color: var(--secondary-color);
}

#btn1 {
  background-color: var(--primary-color);
  font-family: inherit;
}

#btn2 {
  background-color: var(--secondary-color);
  font-family: inherit;
}
