.App {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
textarea {
  margin-bottom: 1rem;
  width: 80%;
  font-family: inherit;
  font-size: medium;
}

button {
  width: 20%;
  margin: 1rem;
  padding: 0.5rem;
  font-size: medium;
  font-family: inherit;
}
