.App {
  font-family: sans-serif;
  text-align: center;
}

button,
div {
  margin-top: 2rem;
  margin-right: 1rem;
  font-size: 1.2rem;
}

input {
  border-radius: 0.5rem;
  border: 1px solid black;
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
}
