:root {
  --primary-color: #334155;
  --secondary-color: #f1f5f9;
}
.App {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

button {
  width: 20%;
  margin: 1rem;
  padding: 0.5rem;
  font-size: medium;
  font-family: inherit;
  cursor: pointer;
  border-radius: 0.3rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
